@model IEnumerable<Dayanet.Ecommerce.SharedModels.Dtos.User.UserDto>

@{
    ViewData["Title"] = "لیست کاربران";
}
<partial name="_Notification" />
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">کاربران</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">لیست کاربران</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <form action="/Admin/Users/Index">
            <div class="input-group mb-3">
                <input type="text" name="filter" class="form-control" placeholder="قسمتی از نام را وارد کنید">
                <button class="input-group-text btn btn-primary"><i class="bx bx-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row justify-content-between">
            <div class="col-md-6 col-sm-12">
                <h6 class="mb-0 text-uppercase text-right">کاربران فروشگاه</h6>
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-end">
                <a href="/Admin/Product/CreateProduct" class="btn btn-success text-left"><i class="bx bx-plus"></i>&nbsp;&nbsp;ثبت محصول جدید</a>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-body">
                <table class="table mb-0 table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نقش</th>
                            <th scope="col">تاریخ ثبت نام</th>
                            <th scope="col"><i class="bx bx-lock"></i></th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ToList().Count < 1) {
                            <tr class="alert alert-danger">
                                <td colspan="8" class="text-center">کاربری برای نمایش یافت نشد ابتدا یک کاربر ثبت کنید!</td>
                            </tr>
                        } else {
                            foreach (var p in Model) {
                                <tr>
                                    <td>@p.Id</td>
                                    <td>@p.FullName</td>
                                    <td><i class="badge bg-success">@p.Role.Name</i></td>
                                    <td>@p.CreatedDate</td>
                                    <td>@(p.IsActive ? "فعال" : "غیر فعال")</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">عملیات مجاز</button>
                                            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                                                <span class="visually-hidden">فهرست کشویی</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                                <button onclick="UpdateUser('@p.Id','@p.FullName','@p.Email','@p.CellPhone')" class="dropdown-item"><i class="bx bx-edit"></i>&nbsp;بروز رسانی </button>
                                                @if (p.LockoutEnabled == true) {
                                                    <button onclick="LockUser('@p.Id','@p.FullName')" class="dropdown-item"><i class="bx bx-lock-open"></i>&nbsp;بازکردن قفل</button>
                                                } else {
                                                    <button onclick="LockUser('@p.Id','@p.FullName')" class="dropdown-item"><i class="bx bx-lock"></i>&nbsp; قفل</button>
                                                }
                                                @if (p.IsActive) {
                                                    <button onclick="ActiveUser('@p.Id','@p.FullName')" class="dropdown-item"><i class="bx bx-shield-x"></i>&nbsp;غیر فعال</button>
                                                } else {
                                                    <button onclick="ActiveUser('@p.Id','@p.FullName')" class="dropdown-item"><i class="bx bx-check-shield"></i>&nbsp; فعال</button>
                                                }
                                                <button onclick="DeleteUser('@p.Id','@p.FullName')" class="dropdown-item"><i class="bx bx-trash"></i>&nbsp;حذف </button>
                                                <button onclick="Createddress('@p.Id')" class="dropdown-item"><i class="bx bx-plus"></i>&nbsp;آدرس جدید </button>
                                                <button onclick="ChangeUserRole('@p.Id')" class="dropdown-item"><i class="bx bx-edit"></i>&nbsp;تغییر نقش </button>
                                                <a href="/Admin/Users/Detaile/@p.Id" class="dropdown-item"><i class="bx bx-edit"></i>&nbsp;جزئیات </a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <nav>
                                    <ul class="pagination">
                                        <li class="disabled p-2 border border-1">
                                            <a aria-label="Previous" href="#"><span aria-hidden="true"><i class="bx bx-arrow-to-right"></i></span></a>
                                        </li>
                                        @for (int i = 1; i <= (ViewBag.PageCount + 1); i++) {
                                            <li class="p-2 border border-1 @(((int)ViewBag.PageID == i) ? "active btn-primary" : "")">
                                                <a href="/Admin/Users/Index?pageIndex=@i">@i</a>
                                            </li>
                                        }

                                        <li class="p-2 border border-1">
                                            <a aria-label="Next" href="#">
                                                <span aria-hidden="true"><i class="bx bx-arrow-to-left"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <link rel="stylesheet" href="~/lib/Sweetalert2/sweetalert2.min.css" />
    <script src="~/lib/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        //Remove User
        function DeleteUser(Id, title) {
            swal.fire({
                title: 'حذف نقش ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Users/RemoveUser/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Lock & Active
        function LockUser(Id, userName) {
            swal.fire({
                title: 'قفل کردن / باز کردن قفل کاربر' + ' ' + userName,
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Users/ChangeLock/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        function ActiveUser(Id, userName) {
            swal.fire({
                title: 'فعال کردن / غیر فعال کردن کاربر' + ' ' + userName,
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': Id
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Users/ChangeActive/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //User Address
        function Createddress(userId) {
            $('#address-UserId').val(userId);
            $('#AddressModal').modal('show');
        }
        //Chnage role
        function ChangeUserRole(userId) {
            $('#changeRole-UserId').val(userId);
            $('#ChangeRoleModal').modal('show');
        }
        function EditUserRoel(Id, title) {
            swal.fire({
                title: 'تغییر نقش ',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var UserId = $('#changeRole-UserId').val();
                    var RoleId = $('#changeRole-RoleId').val();
                    var postData = {
                        'roleId': RoleId,
                        'userId': UserId,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Users/ChangeRole",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        //Update User
        function UpdateUser(id, name, email, phone) {
            $('#edit-user-id').val(id);
            $('#edit-user-Name').val(name);
            $('#edit-user-email').val(email);
            $('#edit-user-phone').val(phone);

            $('#EditUser').modal('show');
        }
    </script>
}
@section Modals
    {
    @*Update User *@
    <div class="modal" id="EditUser" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white"> تغییر نقش <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Users/Update">
                        <input name="Id" type="hidden" id="edit-user-id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ایمیل</span>
                            <input type="email" id="edit-user-email" name="Email" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">موبایل</span>
                            <input type="text" id="edit-user-phone" name="CellPhone" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">نام و نام خانوادگی</span>
                            <input type="text" id="edit-user-Name" name="FullName" class="form-control" />
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    @*Change User Role*@
    <div class="modal" id="ChangeRoleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white"> تغییر نقش <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="UserId" type="hidden" id="changeRole-UserId" />
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light" id="basic-addon1">فعال/غیرفعال</span>
                        <select name="RoleId" class="form-select" id="changeRole-RoleId" asp-items="@ViewBag.Role">
                        </select>
                    </div>
                    <div class="row justify-content-around">
                        <a onclick="EditUserRoel()" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Create New Address For User*@
    <div class="modal" id="AddressModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">آدرس جدید  <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Users/AddAddress">
                        <input name="UserId" type="hidden" id="address-UserId" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light">آدرس</span>
                            <textarea name="Address" type="text" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">فعال/غیرفعال</span>
                            <select name="IsShow" class="form-select">
                                <option value="true">فعال باشد</option>
                                <option value="false">غیرفعال باشد</option>
                            </select>
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

}
